@import "tailwindcss";

@theme inline {
  --color-vermelho: #c8171e;
  --color-raio: #e0402a;
  --color-ouro: #f5c542;
  --color-papel: #fff4dc;
  --color-sangue: #8e0f14;
  --color-tinta: #2a0a0a;
  --color-cinza: #cfc6b8;
  --font-display: var(--font-anton);
  --font-sans: var(--font-oswald);
}

body {
  background: var(--color-papel);
  color: var(--color-tinta);
}

.moldura {
  border: 4px double var(--color-vermelho);
}
